{% extends "base.html" %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="display-4 mb-5">Contactez-nous</h1>
              <p class="lead">Pour toute demande d'information, veuillez nous contacter :</p>
              <ul class="list-unstyled">
                <li><i class="fas fa-envelope"></i> Email : contact@gmail.com</li>
                <li><i class="fas fa-phone"></i> Téléphone : +212677-939186</li>
                <li><i class="fas fa-map-marker-alt"></i> Adresse : XXX, YYYYYYYYYYYY, Maroc</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
